<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h1>Upload an Image!</h1>
                <hr>
                <form action="/post" method="POST" enctype="multipart/form-data">
                    <input type="file" name="image" id= "image" accept="image/*">
                    <br/>
                    <button type = "submit" formaction="post">post</button>
                </form>
            </div>
        </div>
        <a href="/">Go back</a>
    </body>
</html>
