<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h1>Upload an Image!</h1>
                <hr>
                <form action="/post" method="POST">
                    <p>Submit the link to image: </p>
                    <input type="text" name="imageLink" id= "image" required/>
                    <p>Name of the post: </p>>
                    <input type="text" name="imageName" id= "image" required/>
                    <br/>
                    <input type="submit" value = Post />
                </form>
            </div>
        </div>
        <a href="/">Go back</a>
    </body>
</html>
